// import mixins
@use "../helpers/mixins" as *;

/* Start Bullets */
.bullets-nav {
  right: 0;
  width: 25px;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  .bullet {
    @include circle(15px, white);
    outline: 2px solid var(--main-color);
    border: 2px solid #fff;
    margin: 5px 0;
    cursor: pointer;
    &::before {
      content: attr(data-sectionName);
      position: absolute;
      left: -100px;
      background-color: var(--main-color);
      font-size: 12px;
      width: 88px;
      text-align: center;
      transform: translateY(-3px);
      display: none;
      color: #fff;
      pointer-events: none;
    }
    &::after {
      content: "";
      left: -12px;
      transform: translateY(-3px);
      position: absolute;
      border: 9px solid;
      border-color: transparent transparent transparent var(--main-color);
      display: none;
    }
    &:hover::before,
    &:hover::after {
      display: block;
    }
    &.active {
      background-color: var(--main-color);
    }
  }
}
[dir="rtl"] {
  .bullets-nav {
    right: auto;
    left: 0;
    .bullet::before {
      left: auto;
      right: -100px;
    }
    .bullet::after {
      left: auto;
      right: -12px;
      border-color: transparent var(--main-color) transparent transparent;
    }
  }
}
/* End Bullets */
