// import mixins
@use "../helpers/mixins" as *;

// import variables
@use "../helpers/variables" as *;

.landing {
  min-height: 100vh;
  background-image: url(../imgs/landing-01.jpg);
  background-size: cover;
  transition: $mainTransition;
  &::before {
    content: "";
    @include overlay(#000, 0.5);
  }
  nav {
    button {
      border-color: #fff;
    }
    justify-content: space-between;
    div {
      flex-grow: 0;
      .nav-link {
        color: #fff;
        transition: $mainTransition;
        &.active,
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
  .intro-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 80%;
    h1 {
      @include mobilS {
        font-size: 26px;
      }
      span {
        color: var(--main-color);
      }
    }
    p {
      @include mobilS {
        font-size: 13px;
      }
    }
  }
}
